<nav class="navbar bottom navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-text">All Rights Reserved &copy; <%= Date.today.year %> & Powered by</span>
    <span class="d-flex text-right">
      <a href="https://github.com/manjunath724" class="form-control me-2 text-decoration-none" target="_blank">
        <i class="fa fa fa-github"> Manjunath P </i>
      </a>
    </span>
  </div>
</nav>
